[Desktop Entry]
Type=Application
Name=Tidy
GenericName=Plasma Tidy
Comment=Keeps your Plasma desktop and system tray clean
Comment[nl]=Houdt je bureaublad en systeemvak opgeruimd
Exec=plasma-tidy
Icon=view-visible
Categories=Settings;DesktopSettings;
Keywords=plasma;tidy;clean;declutter;hide;autohide;icons;desktop;tray;systray;opruimen;verbergen;pictogrammen;bureaublad;systeemvak;
Actions=show;hide;toggle;

[Desktop Action show]
Name=Show icons
Name[nl]=Pictogrammen tonen
Exec=plasma-tidy --show

[Desktop Action hide]
Name=Hide icons
Name[nl]=Pictogrammen verbergen
Exec=plasma-tidy --hide

[Desktop Action toggle]
Name=Switch on/off
Name[nl]=In-/uitschakelen
Exec=plasma-tidy --toggle
